/* Componente error */

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--sp-2xl);
    gap: var(--sp-md);
    text-align: center;
    grid-column: 1 / -1;
    width: 100%;    
    min-height: 50vh;

    & .error__message {
        font-size: var(--fs-base);
        color: var(--color-error);
    }

    & .error__retry {
        width: auto;
        padding: var(--sp-sm) var(--sp-xl);
    }
}